/* Add these styles to your existing CSS file or create a new one */

/* Form container */
.form-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Form inputs */
.form-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}

/* Form button */
.form-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
}

.form-button:hover {
  background-color: #0056b3;
}

/* Responsive styles */
@media screen and (max-width: 600px) {
  .form-container {
    max-width: 100%;
  }
}


/* Style for the container holding the animal cards */
.app-container {
  display: flex;
  flex-wrap: wrap; /* Wrap cards to the next row when there's not enough space */
  justify-content: space-between; /* Distribute cards evenly in a row */
  margin: 20px;
  /* border: 2px solid red; */
}

.animal-list{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 20px;
  /* border: 2px solid red; */
}

/* Style for individual animal cards */
.animal-card {
  /* width: calc(33.33% - 20px); Each card takes up roughly one-third of the container width with spacing */
  padding: 10px;
  margin: 10px;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Style for the animal image */
.animal-image {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

/* Style for animal details */
.animal-details {
  padding: 10px;
  text-align: center;
}

/* Style for the buttons */
.animal-details button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.animal-details button:hover {
  background-color: #0056b3;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .animal-card {
    width: calc(50% - 20px); /* Two cards per row on smaller screens */
  }
}

@media screen and (max-width: 480px) {
  .animal-card {
    width: 100%; /* One card per row on smaller screens */
  }
}

.buttons{
  /* border: 3px solid red; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}